<app-wizard #wizard>
  <app-wizard-step title="Step 1" icon="glyphicon glyphicon-folder-open" [active]="true">
     <h3>Step 1</h3>
     <p>This is step 1</p>
     <button type="button"(click)="nextStep()">Save and continue</button>
  </app-wizard-step>
 
  <app-wizard-step title="Step 2" icon="glyphicon glyphicon-pencil">
     <h3>Step 2</h3>
     <p>This is step 2</p>
     <button type="button" (click)="prevStep()">Previous</button>
     <button type="button" (click)="nextStep()">Save and continue</button>
  </app-wizard-step>
 
  <app-wizard-step title="Step 3" icon="glyphicon glyphicon-picture">
     <h3>Step 3</h3>
     <p>This is step 3</p>
     <button type="button" (click)="prevStep()">Previous</button>
     <button type="button" (click)="skipStep()">Skip</button>
     <button type="button" (click)="nextStep()">Save and continue</button>
  </app-wizard-step>
 
  <app-wizard-step title="Complete" icon="glyphicon glyphicon-ok">
     <h3>Complete</h3>
     <p>You have successfully completed all steps.</p>
  </app-wizard-step>
 </app-wizard>

 